@font-face {
    font-family: 'Esphimere_Regular';
    src: url('esphimere-webfont.eot');
    src: url('esphimere-webfont.eot?#iefix') format('embedded-opentype'),
         url('esphimere-webfont.woff2') format('woff2'),
         url('esphimere-webfont.woff') format('woff'),
         url('esphimere-webfont.ttf') format('truetype'),
         url('esphimere-webfont.svg#esphimereregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Esphimere_Bold_Italic';
    src: url('esphimere_bold_italic-webfont.eot');
    src: url('esphimere_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('esphimere_bold_italic-webfont.woff2') format('woff2'),
         url('esphimere_bold_italic-webfont.woff') format('woff'),
         url('esphimere_bold_italic-webfont.ttf') format('truetype'),
         url('esphimere_bold_italic-webfont.svg#esphimerebold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Esphimere_Bold';
    src: url('esphimere_bold-webfont.eot');
    src: url('esphimere_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('esphimere_bold-webfont.woff2') format('woff2'),
         url('esphimere_bold-webfont.woff') format('woff'),
         url('esphimere_bold-webfont.ttf') format('truetype'),
         url('esphimere_bold-webfont.svg#esphimerebold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Esphimere_Extra_Light_Italic';
    src: url('esphimere_extra_light_italic-webfont.eot');
    src: url('esphimere_extra_light_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('esphimere_extra_light_italic-webfont.woff2') format('woff2'),
         url('esphimere_extra_light_italic-webfont.woff') format('woff'),
         url('esphimere_extra_light_italic-webfont.ttf') format('truetype'),
         url('esphimere_extra_light_italic-webfont.svg#esphimereextra_light_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Esphimere_Extra_Light';
    src: url('esphimere_extra_light-webfont.eot');
    src: url('esphimere_extra_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('esphimere_extra_light-webfont.woff2') format('woff2'),
         url('esphimere_extra_light-webfont.woff') format('woff'),
         url('esphimere_extra_light-webfont.ttf') format('truetype'),
         url('esphimere_extra_light-webfont.svg#esphimereextra_light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Esphimere_Italic';
    src: url('esphimere_italic-webfont.eot');
    src: url('esphimere_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('esphimere_italic-webfont.woff2') format('woff2'),
         url('esphimere_italic-webfont.woff') format('woff'),
         url('esphimere_italic-webfont.ttf') format('truetype'),
         url('esphimere_italic-webfont.svg#esphimereitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Esphimere_Light_Italic';
    src: url('esphimere_light_italic-webfont.eot');
    src: url('esphimere_light_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('esphimere_light_italic-webfont.woff2') format('woff2'),
         url('esphimere_light_italic-webfont.woff') format('woff'),
         url('esphimere_light_italic-webfont.ttf') format('truetype'),
         url('esphimere_light_italic-webfont.svg#esphimerelight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Esphimere_Light';
    src: url('esphimere_light-webfont.eot');
    src: url('esphimere_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('esphimere_light-webfont.woff2') format('woff2'),
         url('esphimere_light-webfont.woff') format('woff'),
         url('esphimere_light-webfont.ttf') format('truetype'),
         url('esphimere_light-webfont.svg#esphimerelight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Esphimere_Semi_Bold_Italic';
    src: url('esphimere_semi_bold_italic-webfont.eot');
    src: url('esphimere_semi_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('esphimere_semi_bold_italic-webfont.woff2') format('woff2'),
         url('esphimere_semi_bold_italic-webfont.woff') format('woff'),
         url('esphimere_semi_bold_italic-webfont.ttf') format('truetype'),
         url('esphimere_semi_bold_italic-webfont.svg#esphimeresemi_bold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Esphimere_Semi_Bold';
    src: url('esphimere_semi_bold-webfont.eot');
    src: url('esphimere_semi_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('esphimere_semi_bold-webfont.woff2') format('woff2'),
         url('esphimere_semi_bold-webfont.woff') format('woff'),
         url('esphimere_semi_bold-webfont.ttf') format('truetype'),
         url('esphimere_semi_bold-webfont.svg#esphimeresemi_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Esphimere_Thin_Italic';
    src: url('esphimere_thin_italic-webfont.eot');
    src: url('esphimere_thin_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('esphimere_thin_italic-webfont.woff2') format('woff2'),
         url('esphimere_thin_italic-webfont.woff') format('woff'),
         url('esphimere_thin_italic-webfont.ttf') format('truetype'),
         url('esphimere_thin_italic-webfont.svg#esphimerethin_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Esphimere_Thin';
    src: url('esphimere_thin-webfont.eot');
    src: url('esphimere_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('esphimere_thin-webfont.woff2') format('woff2'),
         url('esphimere_thin-webfont.woff') format('woff'),
         url('esphimere_thin-webfont.ttf') format('truetype'),
         url('esphimere_thin-webfont.svg#esphimerethin') format('svg');
    font-weight: normal;
    font-style: normal;
}