.bgCover_home {
    background-size: cover;
    /* height: 143px; */
    z-index: 0;
}

.TglTagihan {
    position: absolute;
    margin-top: -8%;
    left: 0;
    color: #000;
}
.TglWaktu {
    position: absolute;
    margin-top: -8%;
    left: 47%;
    color: #000;
}

.TglTempo {
    position: absolute;
    margin-top: -8%;
    right:0%;
    color: #000;
}

.LayUpcom {
    margin: 65% 17%;
    color: #b8bbc2;
}

.divHeaderBottom {
    width: 100%;
    background-color: #3b60ae;
    bottom: 0;
    position: fixed;
    color: #fff;
    text-align: center;
    left: 0;
}

.TglPembayaran {
    position: absolute;
    margin-top: -12%;
    right:-8%;
    color: #0070ba;
}

.paddingTimeline {
    padding:0 0px 0 60px;
}

.container_70 {
    width: 75%;
    margin: 0 auto;
}

.container_60 {
    width: 60%;
    margin: auto 20%;
}

.span_20 {
    margin: auto 20px;
}

.ImgUpGrade {
    margin-left: -20%;
}
.divUser {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
    height: 185px;
}

.divTagihan {
    padding: 20px;
    border-radius: 10px;
    margin-top: 4%;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

.divBiru {
    background-color: #0070ba;
}

.btnProgressMerah {
    color: #fff;
    border-radius: 30px;
    background-color: #c82914;
    padding: 7px;
    font-size: 12px;
    position: absolute;
    margin: 0px;
    width: 115px;
    text-align: center;
    right: 30px;
    z-index: 1;
    top: 25px;
}
.btnProgressMerah:hover {
    background-color: #b52714;    
}

.btnProgressIjo {
    color: #fff;
    border-radius: 30px;
    background-color: #8ec63f;
    padding: 7px;
    font-size: 12px;
    position: absolute;
    margin: 0px;
    width: 115px;
    text-align: center;
    right: 30px;
    z-index: 1;
    top: 25px;
}
.btnProgressIjo:hover {
    background-color: #6f9c2e;
}


.buletTGL {
    position: absolute;
    left: 42px;
    font-size: 12px;
    border-radius: 50px;
    background-color: #f69e04;
    width: 40px;
    height: 40px;
    top: 19px;
    padding: 7px 0px;
    line-height: 15px;
}

[data-toggle="collapse"].collapsede:after {
    transform: rotate(0deg);
    display: none;
}

.biruborder {
    background-color: #0070ba;
    border-radius: 10px 10px 0px 0px;
    height: 75px;
}

.borderBTMMerah {
    border-bottom: 5px solid #c82914;
    border-radius: 0px 0px 10px 10px;
}

.roundTop {
    border-radius: 10px 10px 0px 0px;
    background-color: #fff;
}

.borderBTMIjo {
    border-bottom: 5px solid #8ec63f;
    border-radius: 0px 0px 10px 10px;
}
.divOren_Online {
    background-color: #f28d01;
}

.formbdr {
    border:1px solid #3b60ae;border-radius:10px;padding:5%;background-color: #fff;
}

.textOnline {
    position: inherit;
    margin-top: 10%;
}

.textPutih {
    color: #fff;
}

.textBiru {
    color: #0070ba;

}

.textStatus_layanan {
    font-size: 12px;
    line-height: 0px !important;
    margin-top: 13%;
}

.textBiru {
    color: #3b60ae;
}

.fZ_33 {
    font-size: 33px;
}

.fZ_20 {
    font-size: 20px;
}

.fZ_18 {
    font-size: 18px;
}

.fZ_16 {
    font-size: 16px;
}

.fZ_14 {
    font-size: 14.5px;
}

.fZ_13 {
    font-size: 13px;
}

.fZ_12 {
    font-size: 12px;
}

.divPaket {
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
    width: 60%;
    margin-top: 25px;
}

.textDisini {
    margin-top: 9%;
    position: absolute;
    right: 7%;
}

.lH_20 {
    line-height: 20px;
}

.btn_PembayaranOnline {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.10), 0px 2px 3px rgba(0, 0, 0, 0.10);
    color: #fff !important;
    text-align: center;
    letter-spacing: 0.8px;
    width: 60%;
    border-radius: 30px;
    float: right;
}
.btn_PembayaranOnline:hover {
    box-shadow: 0px 11px 16px 0px rgba(0, 152, 67, 0.49);
    opacity: 0.9;
}

.bG_Ijo {
    background-color: #009843;
}

.divStatus {
    margin-top: 20%;
    color: #808080;
}

#line_DottedLeft {
    border-left: #808080 2px dashed;
    padding-left: 6%;
}


.LineHight_Paket {
    line-height: 16px;
    padding-left: 7%;
    font-size: 34px;
}

.lH-5 {
  line-height: 5px !important;
}

.lH-10 {
  line-height: 10px;
}



/*css akses*/

.imgfigure {
  background-color: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-size: 16px;
  line-height: 1.6em;
  margin: 10px 0;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
  height: 140px;
}

.imgfigure * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.imgfigure img {
  max-width: 110%;
  vertical-align: top;
  position: relative;
  opacity: 0.90;
}

.imgfigure figcaption {
  padding: 0% 5%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 12%,rgba(0,0,0,1) 100%);
  width: 100%;
}

.imgfigure .hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  font-size: 65px;
  justify-content: center;
  opacity: 0;
}

.imgfigure a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.imgfigure:hover .hover,
.imgfigure.hover .hover {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  opacity: 1;
}

.imgfigure:hover figcaption,
.imgfigure.hover figcaption {
  opacity: 0;
}

/* css promo  */
.divPromo {
    position: inherit;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 20%;
}

.divKolomPromo {
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
}

.divConTEN_Promo {
    padding:20px;
}

.btn_Detail {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.10), 0px 2px 3px rgba(0, 0, 0, 0.10);
    color: #fff !important;
    text-align: center;
    letter-spacing: 0.8px;
    width: 60%;
    border-radius: 30px;
    margin:20px 20% 0;
}

.btn_Detail:hover {
    box-shadow: 0px 11px 16px 0px rgba(0, 152, 67, 0.49);
    opacity: 0.9;
}

.btn_Claim {
    border: 1px solid #6a6a6a;
    background-color: transparent;
    padding: 6px 20px;
    color: #6a6a6a;
}

.btn_Claim:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.49);
    opacity: 0.9;
}

.text_Abu {
    color: #6a6a6a;
}


.btn_REdeem {
    position: relative;
    margin: -50px 30px;
    width: 15%;
    float: right !important;
}




/* cssUpgrade_perangkat */

.divUpgrade {
    border-radius: 10px;
    width: auto;
    height: 214px;
    padding: 10px;   
}

.UpgradeBiru {background-color: rgb(109, 207, 246);}
.UpgradeIjo {background-color: rgb(215, 228, 189);}
.UpgradePink {background-color: rgb(230, 185, 184);}
.UpgradeCrem {background-color: rgb(221, 217, 195);}

.angkaHarga {
    font-size: 50px;
    font-weight: bold;
    margin-left: 28px;
    margin-top: -10px;
    position: absolute;
}

.rp {
    font-size: 20px;
    position: absolute;
}

.angkaBulan {
    position: absolute;
    margin-left: 90px;
    font-size: 20px;
}

.judulPaket {
    font-size: 30px;
    font-family: "Nexa XBold";
}

.warnajudulBiru {
    color: rgb(59, 96, 174);
    line-height: 10px;
}

.warnajudulIjo {
    color: rgb(110, 148, 35);
    line-height: 10px;
}

.warnajudulPink {
    color: rgb(153, 86, 85);
    line-height: 10px;
}

.warnajudulCrem {
    color: rgb(129, 123, 93);
    line-height: 10px;
}

.divHargaUpgrade {
    color: #fff;
    padding: 40px 0 0 0;
}

.btn_FitureOren {
    background-color: rgb(241, 141, 0);
    position: absolute;
    margin-top: 20%;
    font-family: "Nexa XBold";
    color: #fff;
}
.paddStatus {
    padding: 30px 100px;
}
.btn_FitureOren:hover {
    background-color: rgb(202, 118, 0);
}

.btn_Upgrade {
    border-radius: 10px;
    background-color: rgb(12, 62, 99);
    width: 100%;
    color: #fff;
    margin:3% 0;
}

.btn_Upgrade:hover {
    background-color: rgb(6, 34, 56);
}

.btn_Beli {
    border-radius: 10px;
    background-color: rgb(0, 152, 66);
    width: 100%;
    color: #fff;
    margin:3% 0;
}

.btn_Beli:hover {
    background-color: rgb(0, 109, 47);
}



.btn_Tambah {
    border-radius: 10px;
    background-color: rgb(68, 167, 192);
    width: 100%;
    color: #fff;    
}

.btn_Tambah:hover {
    background-color: rgb(13, 116, 142);   
}

.divButton_Upgrade {
    margin: 65px 30px 0 0px;
}


.btn_UbahUser {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.10), 0px 2px 3px rgba(0, 0, 0, 0.10);
    color: #fff !important;
    text-align: center;
    letter-spacing: 0.8px;
    width: 20%;
    border-radius: 30px;
    float: right;
}

.tab-slider--nav {
    width: 100%;
    float: left;
    margin: 5% 34.9%;
}

.tab-slider--tabs {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background: transparent;
    /* height: 35px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #ec7a00;
}

.tab-slider--tabs:after {
    content: "";
    width: 50%;
    background: #ec7a00;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 250ms ease-in-out;
    border-radius: 10px;
}

.tab-slider--tabs.slide:after {
    left: 50%;
}

.tab-slider--trigger {
    font-size: 14px;
    /* line-height: 1; */
    font-weight: bold;
    color: #ec7a00;
    /* text-transform: uppercase; */
    text-align: center;
    padding: 12px 30px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: inline-block;
    transition: color 250ms ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tab-slider--trigger.active {
    color: #fff;
}

.tab-slider--body {
    margin-bottom: 20px;
}




.icnPembelian {
    background-color: #ffffff;
    color: #000;
    width: 70%;
    height: 198px;
    line-height: 2.27em;
    font-size: 3.8em;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}
.icnPembelian:hover {
    margin-top: -20px;
}
.icnIjo {
    position: absolute;
    width: 40%;
    margin-top: -5%;
}

.icnOren {
    position: absolute;
    width: 45%;
    margin-top: -5%;
    margin-left: -10%;
}

.icnMerah {
    position: absolute;
    width: 40%;
    margin-top: -5%;
    margin-left: -5%;
}

.txtIcnPembelian {
    margin-top: 220px;
    font-family: 'Esphimere_Regular', Helvetica, sans-serif;
    font-size: 22px;
}


.bgIjo {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 105%;
}

.shadowIjo:hover {
    box-shadow: 0 2.25rem 4.5rem -1.5rem rgba(0, 152, 66, 0.73);
    text-decoration: none;
}

.shadowMerah:hover {
    box-shadow: 0 2.25rem 4.5rem -1.5rem rgb(203, 30, 57);
    text-decoration: none;
}

.shadowOren:hover {
    box-shadow: 0 2.25rem 4.5rem -1.5rem rgb(241, 141, 0);
    text-decoration: none;
}


.btn_View {
    background: #da3d3e;
    color: #fff;
    border-radius: 25px;
}

.btn_View:hover {
    background: #a02425;
}

.btn_Proses {
    float: right;
    margin-bottom: 3%;
    color: #fff;
    border-radius: 30px;
}


.btn_Proses:hover {
    background-color: #006f31;
}


/* The radio */
.radio {
 
     display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.blokCard-garis {
    border-radius: 10px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border: 1px solid #3b60ae;
}

/* Hide the browser's default radio button */
.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkround {

    position: absolute;
    top: -2px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-color:#0373bc;
    border-style:solid;
    border-width:2px;
     border-radius: 50%;
}


/* When the radio button is checked, add a blue background */
.radio input:checked ~ .checkround {
    background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkround:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked ~ .checkround:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio .checkround:after {
     left: 2px;
    top: 2px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background:#0373bc;
    
 
}




/*css slide layanan*/

.sldr-layanan .sldr-konten {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border:1px solid #b8bbc2;border-radius: 5px;margin:0 5px;
}

.sldr-layanan .sldr-konten:hover {    
    box-shadow: 4px 6.928px 15px 0px rgba(59, 96, 174, 0.5);
}

.sldr-layanan .img-fluid {
    width: 100%;
    padding: 0px;
}

.sldr-layanan .carousel-control-prev {
    left: -90px;
}

.sldr-layanan .carousel-control-next {
    right: -80px;
}


.sldr-layanan .carousel-control-prev-icon,
.sldr-layanan .carousel-control-next-icon {
    background-image:none;
}


.sldr-layanan .carousel-control-prev-icon.kiri:after {
    font-family: 'Font Awesome 5 Pro';
    font-size: 32px;
    font-weight: 100;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f104";
    transform: rotate(0deg);
    transition: all linear 0.25s;
    float: right;
    color: #8e8e8e;
}

.sldr-layanan .carousel-control-next-icon.kanan:after {
    font-family: 'Font Awesome 5 Pro';
    font-size: 32px;
    font-weight: 100;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f104";
    transform: rotate(180deg);
    transition: all linear 0.25s;
    float: right;
    color: #8e8e8e;
}

.labelAbout_loyal {
    background-color:#fff;
    padding:10px 15px;
    border-radius:10px;
    color:#006db7;
    font-size:12px;
    font-weight: 800;
}

.btnLihatReward {
    padding: 5px 20px;
    font-size: 12px;
    color: #fff;
    background-color: #f78f1e;
}

.btnLihatReward:hover {
background-color: #f78f1e;
box-shadow: 8px 4px 20px #f78f1e;
color: #fff;
}

.divNamareward {
    padding: 14% 5%;
}

.divCardReward {
    width: 60%;
    margin: 13% auto;
}

.CardReward {
    border-radius: 10px;
    box-shadow: 8px 4px 20px #1061aa;
}

.divReward {
    border-radius: 10px;
    margin-top: 4%;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
    background-color: #0070ba;
}

.divTableReward {
    border-radius: 4px;
    margin-top: 4%;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border: 2px solid #1061aa;
}

.bg_REWARD {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.clrCardBlue {
    background-color: #bee4ff;
}

.clrCardBlue-opac {
    background-color: #d6eeff;
}


/* infoh upgrade */

.warnaBGX1 {
    background-color: #ccedfc;    
}

.warnaBGX1-opc {
    background-color: #c3e4f3;    
}

.warnaBGHD {
    background-color: #f2f6e8;
}

.warnaBGHD-opc {
    background-color: #e8ecde;
}

.warnaBGLite {
    background-color: #f6e6e6;
}

.warnaBGLite-opc {
    background-color: #eddddd;
}

.warnaBGSam {
    background-color: #f2f2ea;
}

.warnaBGSam-opc {
    background-color: #e9e9e1;
}

/* end infoh upgrade */



.clrCardCoklat {
    background-color: #c8bbb4;
}

.clrCardCoklat-opac {
    background-color: #ded3cb;
}

.clrCardAbu {
    background-color: #d9eaf4;
}

.clrCardAbu-opac {
    background-color: #e8f2f8;
}

.clrCardKuning {
    background-color: #ffe2b7;
}

.clrCardKuning-opac {
    background-color: #ffedce;
}

.clrCardMerah {
    background-color: #ffd2c8;
}

.clrCardMerah-opac {
    background-color: #ffe3dc;
}

.clrCardHitam {
    background-color: #f0f1f1;
}

.clrCardHitam-opac {
    background-color: #f6f6f6;
}

.bdrTop {
    border-top: 2px solid #1061aa;
}


.tableCard td, th {
    border: 1px solid #efefef;
    text-align: left;
    padding: 10px 0px 0px 0px;
  }
  
  .tableCard tr:nth-child(even) {
    background-color: #efefef;
  }

  .tdPutih {
      background-color: #ffffff;
  }






  .card-innr {
    padding: 25px 30px;
}

.card-head {
    padding-bottom: 18px;
}

.progress-info {
    display: flex;
    justify-content: space-between;
}

.progress-bar {
    display: block;
    color: #758698;
    background: #d8d8d8;
    height: 22px;
    border-radius: 30px;
    margin: 87px 10px;
    position: relative;
}

.progress-percent {
    background: #cb1f39;
}

.progress-hcap {
    /* background: #d2dde9; */
}

.progress-percent:after {
    position: absolute;
    content: '';
    right: 0;
    top: 50%;
    height: 28px;
    /* width: 3px; */
    border: 2px solid #2c80ff;
    background: #fff;
    border-radius: 10px 10px;
    transform: translate(50%, -50%);
}

.progress-hcap, .progress-scap, .progress-psale, .progress-percent {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    border-radius: 30px 0px 0px 30px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.progress-info {
    display: flex;
    justify-content: space-between;
}

.progress-info li {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #495463;
    line-height: 1.4;
}

.progress-hcap>div, .progress-scap>div, .progress-psale>div, .progress-percent>div {
    position: absolute;
    right: 0;
    transform: translateX(50%);
    width: 120px;
    font-size: 10px;
    line-height: 14px;
    font-weight: 500;
    padding: 25px 0 0 0;
    text-transform: uppercase;
}

.progress-info li span {
    color: #758698;
    display: block;
    font-size: 12px;
}

.titik_1 {

}

.titik_1:after {
    position: absolute;
    content: '';
    top: 50%;
    height: 3px;
    width: 3px;
    border: 3px solid #ffffff;
    background: #fff;
    border-radius: 10px 10px;
    transform: translate(50%, -50%);
    z-index: 1;
    }

.titik_2 {

}

.titik_2:after {
    position: absolute;
    content: '';
    top: 50%;
    height: 3px;
    width: 3px;
    border: 3px solid #fff;
    background: #fff;
    border-radius: 10px 10px;
    transform: translate(50%, -50%);
    z-index: 1;
    left: 2%;
    }

.titik_3 {

}

.titik_3:after {
    position: absolute;
    content: '';
    top: 50%;
    height: 3px;
    width: 3px;
    border: 3px solid #fff;
    background: #fff;
    border-radius: 10px 10px;
    transform: translate(50%, -50%);
    z-index: 1;
    right: 4%;
    }

    .arrow-down {
        width: 0px;
        height: 0px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 10px solid #000;
        position: absolute;
        margin-top: -3%;
        left: 2.3%;
    }

    .arrow-down2 {
        width: 0px;
        height: 0px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 10px solid #000;
        position: absolute;
        margin-top: -3%;
        left: 50.2%;
    }

    .arrow-down3 {
        width: 0px;
        height: 0px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 10px solid #000;
        position: absolute;
        margin-top: -3%;
        right:2.5%;
    }

    .arrow-down-biru {
        width: 0px;
        height: 0px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 10px solid #000;
        position: absolute;
        margin-top: -6%;
        right: -2%;
    }
  

.copy-wrap {
    position: relative
}

.copy-wrap>[class*=fa] {
    position: absolute;
    top: 0;
    left: 18px;
    line-height: 20px;
    padding: 12px 0;
    font-size: 14px;
    text-align: center;
    color: #495463
}

.copy-trigger {
    position: absolute;
    right: 4px;
    top: 4px;
    height: 38px;
    width: 80px;
    line-height: 20px;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    background: #ec7a00;
    border-radius: 4px;
    border: none;
    transition: all .4s;
    cursor: pointer
}

.copy-trigger:focus,.copy-trigger:hover {
    color: #fff;
    background: #2c80ff;
    outline: none
}

.copy-address {
    border: none;
    color: #495463;
    line-height: 20px;
    padding: 12px 50px 12px 10px;
    border-radius: 4px;
    border: 1px solid rgba(211,224,243,0.5);
    width: 100%;
    background: #fff
}

.copy-address:focus {
outline: none;
box-shadow: none
}

.copy-feedback {
display: none;
position: absolute;
height: 100%;
width: 100%;
left: 0;
top: 0;
line-height: 20px;
padding: 13px 0;
font-weight: 500;
font-size: 12px;
text-transform: uppercase;
letter-spacing: .05em;
text-align: center;
background: rgba(255,255,255,0.9);
border-radius: 4px;
border: 1px solid rgba(211,224,243,0.5);
color: #2c80ff
}

.btnViewRefel {
    background-color: transparent;
    color: #FFF;
    border: 1px solid #fff;
    border-radius: 10px;
    float: right;
    padding: 5px 15px;
}

.btnViewRefel:hover {
    box-shadow: 0px 4px 10px #1a5d12;
}

.share-links:last-child {
    margin-bottom: 0;
}
.share-links {
    margin: 15px -20px;
    display: flex;
    align-items: center;
}

.share-links li {
    margin: 5px 10px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #758698;
    list-style: none;
}


.icn_sosmed {
    width: 30px;
}

.linkPutih,
.linkPutih:link {
    color:#fff !important;
}


.titikMerahTanggal {
    position: absolute;
    margin-top: -30%;
    height: 20px;
    width: 20px;
    border: 7px solid #cb1f39;
    background: #fff;
    border-radius: 30px;
}

.titikBiruPembayaran {
    position: absolute;
    margin-top: -30%;
    height: 20px;
    width: 20px;
    border: 7px solid #3658a0;
    background: #fff;
    border-radius: 30px;
    margin-left: -13px;
}

.titikAbuTempo {
    position: absolute;
    margin-top: -30%;
    height: 20px;
    width: 20px;
    border: 7px solid #d8d8d8;
    background: #fff;
    border-radius: 30px;
}

.bgInvoice {
    background-position: 298px 90px;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.bgInvoice2 {
    background-position: right 30px;
    background-repeat: no-repeat;
}

.bgInvoice3 {
    background-position: right 40px;
    background-repeat: no-repeat;
}


.textBiru {
    color: #3b60ae;
}

.textOren {
    color: #ec7a00;
}

.borderBottomAja {
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    border-radius: 0;
}

.garisBiru{
    border-bottom: 2px solid #3b60ae;
    width: 15%;
    margin: 0 auto;
    padding-top:2%;
}

/* form-konfirmasi */

.divDetailPesanan {
	border-radius: 10px;
	border:	1px solid #3b60ae;
	background-color: #fff;
	padding: 60px 150px 10px;
}

.divDetailTag {
	border-radius: 10px;
	border:	1px solid #3b60ae;
	background-color: #fff;
	padding: 60px 60px 30px;
}

.divDetailPesanan_KotakKecil {
	border-radius: 10px;
	border:	1px solid #3b60ae;
	background-color: #fff;
	padding: 20px;
}


.divTagBul {
    border:	1px solid #3b60ae;
    text-align: center;
    padding: 5px 10px;
}

.tableNOborder td, th {
        border: 0px solid #efefef;
        padding: 2px;
        width:60%;
}

.txtHitam {
    color: #000;
}

.txtMerah {
    color: #c90232;
}

.sms-verification-multiple{
    margin: 0 auto;
    padding: 4em;
    width: 600px
  }
  
  .sms-verification-multiple input{
    border: none;
    box-shadow: none;
    outline: none;
    font-size: 30px;
    width: 60px;
    height: 50px;
    margin-right: 15px;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    font-weight: 320;
    background: transparent;
    color: #000;
    overflow: hidden;
    border-bottom: 2px solid #878787;
    text-align: center;
  }

  

.lh_40 {
    line-height: 40px;
}

.form-control:disabled, .form-control[readonly] {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #c1c1c1;
    border-radius: 0;
    padding: 5px 0px;
}

.btnBiruABs {
    position: absolute;
    right: 60px;
    top: 15px;
}

.btnBiruABs2 {
    position: absolute;
    right: 60px;
    top: 8px;
}

.btnNoacc {
    position: absolute;
    right: 125px;
    top: 8px;
}

.ls_1 {
    color: #6b6b6b;
    letter-spacing: 1px;
}

.btnTambah {
    color: #fff;
    border-radius: 10px;
    background-color: #3b60ae;
    padding: 3px 3px 3px 10px;
    font-size: 10px;
    position: absolute;
    margin: 3px 10px;
    /* width: 120px; */
}

.bg_btnPlus {
    background-color: #fff;
    color: #3b60ae;
    border-radius: 7px;
    padding: 3px 5px;
}
.bandingchannel {}
.bandingchannel .pketDlite {background-color: #e4670d;}
.bandingchannel .pketElite {background-color: #f1b610;}
.bandingchannel .pketSupreme {background-color: #22a8c1;}
.bandingchannel .pketMaxima {background-color: #006289;}
.bandingchannel .pketUltimate {background-color: #293873;}
.bandingchannel .pketInfinite {background-color: #313052;}

.bandingchannel .pketSupreme,
.bandingchannel .pketMaxima,
.bandingchannel .pketUltimate,
.bandingchannel .pketInfinite,
.bandingchannel .pketElite,
.bandingchannel .pketDlite {
    color:#fff;
}

/* .form-control:focus {
    color: #fff;
    background-color: #cacaca;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
} */

.tabelChannel_1 {
    width: 65%;
    display: block;
    float: left;
    position: relative;
    padding: 0px;
}

.modal1000 {
    max-width:1000px;
}

.modal-600 {
    max-width: 600px;
    margin: 7% auto;
}

.modal-500 {
    max-width: 500px;
    margin: 12% auto;
}
.modal-550 {
    max-width: 550px;
    margin: 11% auto;
}
.modal-650 {
    max-width: 650px;
    margin: 6% auto;
}

.modal-700 {
    max-width: 700px;
    margin: 4% auto;
}

.modal-750 {
    max-width: 750px;
    margin: 5% auto;
}

.JdPaketChannel {
    width: 35%;
    display: block;
    float: left;
    position: relative;
    height: 135px;
    text-align: center;
    z-index: 1;
}

.lbrBrdr {
    float: left;
    position: relative;
    height: 212px;
    z-index: 1;
    top: -21px;
}

.tabeltambahLayanan {
    width: 100%;
    display: block;
    float: left;
    position: relative;
    padding: 50px 25px;
}

.tabeltambahLayanan2 {
    width: 100%;
    display: block;
    float: left;
    position: relative;
    padding: 25px 10px;
}
.tabeltambahLayanan:after {
    font-family: "Esphimere_Bold"!important;
    font-size: 50px;
    position: absolute;
    line-height: 0;
    padding: 0;
    margin: 0;
    top: 75px;
    right: -10px;
    display: block;
}

.lineBiru {
    border-color: #0263af !important;
}

.lineMrhGlp {
    border-color: #c22c15 !important;
}

.tabeltambahUp {
    width: 30%;
    display: block;
    float: left;
    position: relative;
    padding: 0px;
}

.juduLTambahLayanan {
    color: #fff;
    font-family: "Esphimere_Bold"!important;
    font-size: 24px;
    padding: 0px;
    line-height: 50px;
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.KtkIcon {
    vertical-align: middle;
    padding: 4px;
    position: absolute;    
}

.icon-Layanan {
    width: 25px;
    height: 25px;
}
.text {
    display: table-cell;
    vertical-align: middle;
    font-size: 13px;
    padding: 0 42px;
}

.Upto {
    font-size: 18px;
    line-height: 18px;
    position: absolute;
    margin-top: 13px;
    right: 62%;
}

.AngkA {
    font-size: 65px;
    position: absolute;
    font-weight: 800;
    top: 0px;
    right: 22%;
}

.AngkA-Ijo {
    font-size: 65px;
    position: absolute;
    font-weight: 800;
    top: 0px;
    right: 22%;
}

.AngkA:after {
    content: "/";
    font-size: 120px;
    position: absolute;
    font-weight: 400;
    top: -37px;
    left: 9%;
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.Panah {
    margin-top: 15px;
    width: 75%;
    margin-left: 12px;
}

.MbpS {
    position: absolute;
    right: 4px;
    margin-top: 22px;
}

.bgModalProduk {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 26%;
    padding: 0 6%;
}

.font10 {
    position: absolute;
    top: 36px;
    left: 47px;
    font-size: 18px;
}

.modal-header .close {
    padding: 0rem;
    margin: -1rem -1rem -1rem auto;
    border-radius: 50px;
}

.saluranchannel ul {
    margin: 0px;
    padding: 0px;
}

.saluranchannel ul li {
    padding: 0px;
    float: left;
    list-style: none;
    margin: 10px 5px;
    line-height: 18px;
    display: list-item;
}

.saluranchannel {
    margin: 0 auto;
    display: grid;
    text-align: center;
}

.saluranchannel .kolCH {
    border: 2px solid #b7b7b7;
    background-color: #fff;
    vertical-align: middle;
    width: 105px;
    height: auto;
    opacity: .3;
}

.saluranchannel .kolCH .CHnumber {
    float: left;
    width: 35px;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    background: #000;
}

.saluranchannel .kolCH .chlogo {
    float: left;
}

.saluranchannel .kolCH .package-title {
    clear: both;
    font-size: 12px;
    text-align: center;
    color: #666;
    border-top: 2px solid #b7b7b7;
}

.table-img {
    width: 62px;
    height: 26px;
    float: left;
    border: 0;
    max-width: 100%;
}

.bdrBiru1 {
    border: 1px solid #0263af;
    background-color: #fff;
}

.bdrMrh1 {
    border: 1px solid #c22c15;
    background-color: #fff;
}

/* .bdrBiru1:after {
    content: "|";
    position: absolute;
    -moz-transform: rotate(8deg);
    -webkit-transform: rotate(8deg);
    -o-transform:rotate(8deg);
} */

.bdrBiru2 {
    border: 1px solid #0263af;
    background-color: #fff;
}
.bdrMrh2 {
    border: 1px solid #c22c15;
    background-color: #fff;
}

.topikBtn {
    height: 100px;
    border-radius: 10px;
    font-size: 15px;
    color: #33608a;
    padding: 18px;
    font-weight: 600;
}

.topikBtn2 {
    height: 100px;
    border-radius: 10px;
    font-size: 15px;
    color: #33608a;
    padding: 30px 60px;
    font-weight: 600;
}

.btnInter {
    border-radius: 5px;
    padding: 5px 65px;
    background-color: #0066b1;
    color: #fff;
    margin: 0 10px;
}

.btnInter:hover {
    color: #fff;
}

.imgOVO {border-radius: 10px;}
.imgOVO:hover {border-radius: 10px;box-shadow: 4px 6.928px 27px 0px rgba(59, 96, 174, 0.39);}


.step-wrapper-prog {
      display:inline-block;
      margin: 0 30%;
    }
    .circleOne {
      display:inline-block;
      width: 27px;
      height: 27px;
      background:#0070ba;
      border-radius: 50%;
      position:relative;
      top: 10px;
      z-index: 1;
    }

    .circleTwo {
        display:inline-block;
        width: 27px;
        height: 27px;
        background:#0070ba;
        border-radius: 50%;
        position:relative;
        top: 10px;
        z-index: 1;
        left: -2px;
      }
    .step-item-pro {
      height:60px;
    }
    .timeQ {
      display:inline-block;
      font-size:12px;
      margin-right: 10px;
    }
    .nameNM {
        display: inline-block;
        color: #3B3B3B;
        font-size: 12px;
        vertical-align: middle;
        margin-left: 10px;
    }
    .completePull {
      display:inline-block;
      width: 27px;
      height: 27px;
      background:#E9E9E9;
      border-radius: 50%;
      position:relative;
      top: 10px;
      z-index: 1;
      margin-left: -2px;
    }
    .completePull:before {
      display: inline-block;
      content: '';
      width: 13px;
      height: 13px;
      background:#B9B9B9;
      border-radius:50%;
      top: 0;
      bottom:0;
      left: 0;
      right: 0;
      margin: auto;
      position:absolute;
      z-index: 1;
    }
    .circleOne:before {
      display: inline-block;
      content: '';
      width: 13px;
      height: 13px;
      background:#fff;
      border-radius:50%;
      top: 0;
      bottom:0;
      left: 0;
      right: 0;
      margin: auto;
      position:absolute;
      z-index: 1;
      
    }

    .circleTwo:before {
        display: inline-block;
        content: '';
        width: 13px;
        height: 13px;
        background:#fff;
        border-radius:50%;
        top: 0;
        bottom:0;
        left: 0;
        right: 0;
        margin: auto;
        position:absolute;
        z-index: 1;
        
      }

    .circleOne:after {
        height: 75px;
        border: 2px solid #0070ba;
        content: "";
        position: absolute;
        left: 12px;
    }


    .btn-submit {
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.10), 0px 2px 3px rgba(0, 0, 0, 0.10);
        color: #fff !important;
        text-align: center;
        letter-spacing: 0.8px;
        padding: 10px 60px;
    }

    .btn-cancel {
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.10), 0px 2px 3px rgba(0, 0, 0, 0.10);
        color: transparent !important;
        text-align: center;
        letter-spacing: 0.8px;
        padding: 10px 40px;
        color:#000 !important;
    }

    .bdrCancel {
        background-color: #fff;
        border: 1px solid #eaeaea;
        color:#000;
    }

    #editMyakun {
        display: block;
    }


    .tableTagihan {
        width:100%;line-height: 30px;
        font-weight: 600;
    }
    .trBorder {
        border-bottom: 1px solid #ddd;
    }

    @media only screen and (max-width: 767px) {
        .ml-0 {
            margin-left: 0rem!important;
        }
    }