@media only screen and (max-width: 375px) {
    .loginmy {padding:0px 7% !important;}
    .bgimage {background-position: 56.5% 0% !important;}
    .bgwavesoren {
        background-repeat: no-repeat;
        background-size: 130%;
    }
    .btnBiruABs2 {
        right: 47px !important;
        top: 8px !important;
        font-size: 12px !important;
    }
    .btnNoacc {
        right: 47px !important;
        top: 40px !important;
        font-size: 12px !important;
    }
    .ubahAkun ul li .idAlamat {
        width: 100px;
    }
    .ubahAkun ul li .dragAkun {
        line-height: 125px;
        height: 100%;
    }
    .btn-submit {
        padding: 10px 20px!important;
        margin-bottom: 20px;
    }
    .btn-cancel {
        padding: 10px 20px!important;
        margin-bottom: 20px;
    }
    .ubahAkun ul li .nomorform {
        padding: 10px;
    }
    .ubahAkun ul li .nomorform-2 {
        padding: 10px;
    }
    .ubahAkun ul li .nomorform-3 {
        padding: 10px;
    }
    .ml-8, .mx-8 {
        margin-left: 3rem!important;
    }
    .borderleftabu {
        border-left: 0px solid gray;
    }
    .mlr-5rem {
        margin: auto 1rem;
    }
    .boxbantuan {
        margin-bottom: 30px;
    }
    .boxaduan {
        padding: 30px;
    }
    .boxaduan img.icnaduan {
        margin: 0 auto;
    }

    .boxaduan .btnboxbantuan {
        padding: 0px;
        margin: 0px 90px;
        display: block;
    }
    .mb-5, .my-5 {
        margin-bottom: 0rem!important;
    }
    .divKolomPromo {
        margin-bottom: 30px;
    }
    .divHargaUpgrade {
        color: #fff;
        padding: 0px 0 0 0!important;
    }
    .warnajudulBiru {
        line-height: 10px!important;
    }
    .judulPaket {
        font-size: 17px!important;
        font-family: "Nexa XBold";
    }
    .rp {
        font-size: 15px!important;
        position: absolute;
    }

    .form-header-classic .form-wizard-step-icon, .form-header-classic .form-wizard-step.active .form-wizard-step-icon {
        width: 90px!important;
        font-size: 12px!important;
    }

    .form-wizard-steps {
        margin: auto;
        overflow: hidden;
        position: relative;
        margin-bottom: -30px!important;
    }
    .divDetailPesanan, .divDetailTag, .sms-verification-multiple {
        padding: 20px!important;
    }
    .txtHitam, .fZ_20 {
        font-size: 14px!important;
    }
    .form-body-classic.form-wizard .btn {margin-bottom: 20px!important;}
    .angkaHarga {
        font-size: 30px!important;
        font-weight: bold;
        margin-left: 23px;
        margin-top: -5px;
        position: absolute;
    }
    .angkaBulan {
        position: absolute;
        margin-left: 65px!important;
        font-size: 15px!important;
    }
    .ImgUpGrade {
        margin-left: 0px!important;
        width: 200px;
        margin: 0 auto!important;
    }
    .divButton_Upgrade {
        margin: 10px 0px 0 0px!important;
    }
    .divPromo {
        width: 100%;
        margin-left: 0;
    }
    .tab-slider--nav {
        width: auto!important;
        margin: 50px 50px!important;
    }
    .LineHight_Paket {
        line-height: 16px;
        padding-left: 15px;
        font-size: 28px!important;
    }
    .divUser {
        margin-bottom: 30px;
    }
    .textDisini {
        margin-top: 60px!important;
    }
    .paddingTimeline {
        padding: 0px!important;
    }
    .titikMerahTanggal {
        margin-top: -60px!important;
        position: absolute;
    }
    .titikBiruPembayaran {
        margin-top: -30px!important;
        position: absolute;
        margin-left: 0px!important;
    }
    .titikAbuTempo {
        margin-top: 0!important;
        position: absolute;
    }
    .btn_PembayaranOnline {
        width: 100%!important;
        margin-top: 40px;
    }
    .arrow-down,.arrow-down2,.arrow-down3,.arrow-down-biru {
        margin-top: -20px!important;
    }
    .TglTagihan,.TglWaktu,.TglPembayaran,.TglTempo {
        margin-top: -40px!important;
    }
    .divStatus {
        margin-top: 110px!important;
    }
    #line_DottedLeft {
        border-left: #808080 0px dashed!important;
        padding-left: 0!important;
    }
    .imgfigure {
        height: auto!important;
    }
    .icnPembelian {
        width: 150px!important;
        height: 150px!important;
        margin-bottom: 40px!important;
        margin-top: 30px!important;
    }
    .icnOren,.icnMerah,.icnIjo {
        position: absolute;
        width: 100px!important;
        margin-top: 10px!important;
        margin-left: -20px!important;
    }
    .txtIcnPembelian {
        margin-top: 160px!important;
        font-family: 'Esphimere_Regular', Helvetica, sans-serif;
        font-size: 22px;
    }
    .logomyfm {
        position: relative;
    }
    .textPutih {
        font-size: 16px;
    }
    .paddStatus {
        padding: 30px 40px!important;
    }.judulStatus {
        text-align: left!important;
        margin-left: 56px!important;
        line-height: 2px!important;
        margin-top: 9px!important;
    }
    .btnProgressIjo {
        width: 55px!important;
    }
    .step-wrapper-prog {
        display: inline-block;
        margin: 0 -8px!important;
    }
    .divNamareward {
        padding: 0px 20px 40px 20px!important;
        text-align: center;
    }
    .logoIndex {
        margin: -35px 15px 0px 15px!important;
    }
    .namaFirstreward {
        font-size: 30px;
    }
    .iconMenuAtas img {
        width: 30px;
        height: 30px;
        margin-right: 20px;
    }
    .badge-up {
        position: absolute;
        top: 10px;
        right: 100px;
        z-index: 99;
    }
    .iconMenuAtas .icon {
        color: #3b60ae;
        padding: 5px;
        top: 2px;
    }
    .divtabBantuan .uLmyfmBantuan .LimyfmBantuan {
        width: 30%;
        margin: 0 5px;
    }

    .divtabBantuan .uLmyfmBantuan .LimyfmBantuan a.active {
        background-color: #ec7a00;
        color: #fff;
        font-weight: bold;
    }
    
    .divtabBantuan .uLmyfmBantuan .LimyfmBantuan a {
        background-color: #ec7a0073;
        padding: 10px;
        border: 0;
        border-radius: 8px;
        text-transform: uppercase;
        position: relative;
        font-size: 10px!important;
        letter-spacing: 0!important;
    }
    .topikBtn {
        margin-bottom: 25px;
    }

    .btnInter {
        padding: 5px 30px!important;
        margin: 20px 10px!important;
    }

    .width120 {
        width: 120px!important;
    }

    .uLmyfmTapTop {
        background-color: #3b60ae;
        padding: 0px;
    }
    .LimyfmTapTop .nav-link {
        padding: 15px;
        color: #fff;
        text-transform: uppercase;
    }
    .navbar .dropdown .dropdown-menu {
        display: block;
        padding: 5px;
    }
    .dropdown-menu:before {
        top: -8px;
        left: 80px;
    }
    .headertransparant ul li a, .headerbiru ul li a {
        color: #3b60ae;
    }
    .navbar .show .dropdown-menu {
        visibility: visible !important;
        margin-left: -50px;
    }

    .flag-icon {
        width: 20px;
        border-radius: 50px;
        border: 1px solid #000;
        margin-top: -5px;
        margin-right: 5px;
    }
    .myfm-sidebar .menuBar ul li {
        height: 52px;
        line-height: 52px;
    }
    
}
@media only screen and (max-width: 414px) {
    .paddingTimeline {
        padding: 0px!important;
    }
    .divUser {
        margin-bottom: 30px;
    }
    .fZ_33 {
        font-size: 24px!important;
    }
    .lH-5 {
        line-height: 12px !important;
    }
    .fZ_14 {
        font-size: 13px!important;
    }
    .divPromo {
        width: 100%;
        margin-left: 0;
    }
    .tab-slider--nav {
        width: auto!important;
        margin: 50px 68px;
    }
    
    .loginmy {padding:0px 7% !important;}
    .bgimage {background-position: 56.5% 0% !important;}
    #sidebar.active ul li {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        width: 210px;
        text-align: left;
        padding-left: 8px;
        background-color: #3658a0;
        margin-left: 100%;
    }
    #sidebar.active ul li:hover {
        background-color: #2c4c92;
    }
    .myfm-sidebar .menuBar ul li:hover img {
        margin-right: 10px;
    }

    .boxbantuan {
        margin-bottom: 30px;
    }
    .boxaduan {
        padding: 30px;
    }
    .boxaduan img.icnaduan {
        margin: 0 auto;
    }

    .boxaduan .btnboxbantuan {
        padding: 0px;
        margin: 0px 90px;
        display: block;
}
@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }
    .navbar-right {
        float: right!important;
        margin-right: -15px;
    }
}
@media only screen and (max-width: 768px) {
    .navbar-nav {
        float: left;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }
    .navbar-nav.navbar-right {
        /* display: none; */
        float: right!important;
    }
    .navbar li {
        display: inline-block;
    }
    .loginmy {padding:0px 24%;}
    .intro-login {display: none;}
    .bgimage {background-position: 59% 0%;}
    .form-login .form-loginmy {padding: 1.5rem;}

    .headertransparant {margin: 0px 25px;}
    .headerbiru {
        padding: 0px;
    }
    
    .container_70 {width: 90% !important;}

    .navbar-toggler {
        color: #171f3c;
        font-size: 35px;
        line-height: 38px;
        padding: 5px 0;
        margin-right: 15px;
    }

    .navbar-nav {
        background-color: #fff;
    }
    .form-bloc form{
        width:90%;
    }

    .navbar-toggler-icon {
        height: 35px;
        width: 35px;
        line-height: 35px;
    }

    .logomyfm {
        margin: -30px 15px 0px 65px;
    }
    .navbar-brand {
        margin: 0px 5px 0px 5px;
    }
    .logo {
        width: 50px;
    }    

    .hero {
        background-image: none;
        padding-top: 80px;
        padding-bottom: 0px;   
        height: auto;
    }
    .hero-text{
        padding-bottom: 0;    
    }
    .text-bloc.padd-80{
        padding-top: 0;
    }

    .hero-text h2 {
        font-size: 35px;
        line-height: 55px;
    }

    .navbar-header .navbar-nav li a {
        color: #fff;
        color: #171f3c;
        font-size: 15px;
        padding: 10px 12px !important;
        font-weight: 500;
        line-height: 30px;
    }

    .navbar-collapse.show .navbar-nav {
        box-shadow: 0 8px 28px 2px rgba(61, 61, 61, .12);
    }

    .search-box-btn {
        color: #171f3c;
    }

    .navbar-header .navbar.sticky {
        padding: 10px 0;
    }

    .search {
        width: 100%;
    }
    .navbar-header ul li a.nav-link.btn-blue{
        margin: 0;      
    }
    .subscribe-form .form-control {
        width: 90%;
    }

    .footer-top h5 {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .comments-reply {
        margin-bottom: 40px;
    }

    .sidebar-post-inner img {
        width: 95px;
    }

    .testimonial-slider .slick-next,
    .blog-post-slider .slick-next {
        right: 0;
    }

    h2.title-head {
        margin-top: 35px;
    }

    .number-bloc,
    .caroussel-page {
        margin-bottom: 45px;
    }

    .form-bloc h3 {
        line-height: 42px;
    }

.text-carousel {
    padding: 30px 20px 0 20px;
}

#services .padd-0 {
    padding-left: 0;
    padding-right: 0;
}

#services .row {
    margin-right: 0;
    margin-left: 0;
}

.hero:before,
footer:after,
.hero:after {
    display: none;
}

.form-bloc .form-control,
.form-bloc .form-control.no-radius {
    border-radius: 40px;
    margin-bottom: 25px;
}

.testimonial-slider .slick-prev,
.testimonial-slider .slick-next {
    top: 100%;
}

.testimonial-slider .slick-prev {
    left: 35%;
}

.testimonial-slider .slick-next {
    right: 35%;
}

.blog-post-slider .slick-prev,
.blog-post-slider .slick-next {
    top: 60%;
}

.blog-post-slider .slick-prev {
    left: 0;
    z-index: 9;
}

.blog-post-slider .slick-next {
    right: 0;
}

.newsletter-bloc-inner {
    padding-left: 30px;
    padding-right: 30px;
}

.list-social,
.copyright p {
    text-align: center;
}

.content-text-slick h4 {
    line-height: 42px;
    font-size: 28px;
    margin-bottom: 15px;
}

.border-rg {
    border-right: none;
}

.newsletter-bloc-inner form .form-control {
    width: 70%;
}

.blog-post-slider .post-item img {
    width: 100%;
}

.blog-post-slider .blog-post-info {
    overflow: inherit;
    clear: both;
    padding: 15px;
}

.sidebar-side {
    padding-left: 10px;
    padding-right: 10px;
}
.navbar-nav li.dropdown .dropdown-menu {
    border:none;
}
.navbar-nav li.dropdown .dropdown-menu a{
    padding: 10px 20px!important;
}
.caroussel-page-inner a{
    width: 50px;
    height: 50px; 
    margin: 15px; 
    line-height: 50px;
}
.caroussel-page-inner{
    padding: 0;
}
.caroussel-page-inner img {
    width: 25px;
}
.form-bloc{
   padding: 40px 20px; 
}
.ply-btn{
    left:30%;
}
.padd-title {
    padding-top: 120px;
    padding-bottom: 120px;
}
.bg-title{
 height: 250px;   
}

#services-feature .row{
    margin-right: 0;
    margin-left: 0;
}
.content-text-slick h4{
    margin-top: 0;
}
.prining-table{
    margin-bottom: 40px;
}
.bg-title .title-h2{
    font-size: 20px;
     line-height: 25px;
}
.blog-single-post h3{
    line-height: 36px;
}
.sidebar-side h3{
    line-height: 24px;
}
.contact-form, .comments-reply{
    padding: 20px;
}
.blog-post-slider .slick-prev, .blog-post-slider .slick-next{
  background-color: #fff;  
  box-shadow: 0 8px 28px 2px rgba(61, 61, 61, .12);
   height: 40px;
}
.list-p li{
       font-size: 18px;
    line-height: 42px; 
}
.bg-title.bg-blog .title-h2,
.bg-contact .title-h2{
    line-height: 80px;
}
    .blog-single-post blockquote h4 {
    padding-left: 80px;
}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .sidebar-side {
        padding-left: 5px;
        padding-right: 5px;
    }
    .hero {
        padding-top: 100px;
        padding-bottom: 80px;
    }
        

    .hero-text h2 {
        font-size: 40px;
    }
    #services-feature .row{
        margin-right: 0;
        margin-left: 0;
    }
    .navbar-header .navbar {
        padding: 10px 0;
    }
    .search input {
        width: 60%;
    }
    .form-bloc{
     margin: 40px 0 -100px;   
     padding: 30px 30px;
 }

 .sidebar-post-inner .img-sidebar {
    width: 75px;
    padding-right: 5px;
}

.hero:before,
footer:after {
    display: none;
}

.sidebar-post-inner img {
    width: 55px;
}

.text-carousel {
    padding: 10px 30px 0 20px;
}
.content-text-slick h4{
  margin-bottom: 0;
  font-size: 20px;
  margin-top: 20px;  
}
.caroussel-page-inner{
    padding: 0;
}
.caroussel-page-inner img{
 width: 25px;   
}

.caroussel-page-inner a{
  width: 50px;
  height: 50px;
  line-height: 50px;  
}
.pricing-table-inner ul{
    padding: 30px 15px 20px;    
}
.pricing-table-inner ul li.table-content ul li{
      font-size: 14px;
    padding: 0; 
}

.blog-post-slider .slick-prev,
.blog-post-slider .slick-next {
    top: 50%;
}

.blog-post-slider .slick-prev {
    left: 0;
    z-index: 9;
}

.blog-post-slider .slick-next {
    right: 0;
}
.blog-post-slider .slick-prev, .blog-post-slider .slick-next{
  background-color: #fff;  
  box-shadow: 0 8px 28px 2px rgba(61, 61, 61, .12);
   height: 40px;
}
.hero {
 height: 500px;
}

.subscribe-form .form-control {
    width: 80%;
}

.list-social li {
    margin-right: 3px;
}

.list-social a {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 12px;
}

.left-sidebar.sidebar-side {
    padding-right: 0;
}

.search button {
    padding: 10px;
}

.subscribe-form .form-control {
    width: 80%;
}

.pricing-table-inner .price {
    font-size: 30px;
}

.caroussel-page-inner a {
    margin: 10px;
}

#services .row {
    margin-right: 0;
    margin-left: 0;
}

h2.title-head,
.video-bloc h2 {
    font-size: 32px;
}

.testimonial-slider .slick-prev,
.testimonial-slider .slick-next {
    top: 100%;
}

.testimonial-slider .slick-prev {
    left: 35%;
}

.testimonial-slider .slick-next {
    right: 35%;
}
 

.newsletter-bloc-inner {
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-header .navbar-nav li a {
    padding: 5px 15px;
    line-height: 35px;
}

.navbar .navbar-collapse {
    background-color: #fff;
}

.blog-summary h3 {
    font-size: 15px;
}

.sidebar-post-inner .sidebar-post-inner-info h5 {
    font-size: 12px;
    line-height: 16px;
}
.sidebar-search, .sidebar-categroies, .sidebar-post{
    margin-bottom: 30px;
}
 .navbar-nav li.dropdown .dropdown-menu {
    border:none;
}
.navbar-nav li.dropdown .dropdown-menu a{
    padding: 10px 20px!important;
}
.text-carousel p{
    font-size: 14px;
  line-height: 20px;  
}
}


@media only screen and (min-width:1024px) and (max-width:1200px) {

    .hero:before,
    footer:after
    {
        display: none;
    }
    .hero{
     padding-bottom: 100px;   
         height: 550px;
 }
 .hero:after{
    top:50px;    
}

.navbar-header .navbar-nav li a {
    font-size: 13px;
}

 
.form-bloc {
    margin: 40px 0 -130px;

}

.text-carousel {
    padding: 20px 50px 0 40px;
}

.blog-post-slider .slick-next {
    right: -30px;
}

.blog-post-slider .slick-prev {
    left: -30px;
}
.caroussel-page-inner{
    padding: 0;
}

#services .row {
    margin-right: 0;
    margin-left: 0;
}
.sidebar-side {
    padding-left: 0;
    padding-right: 20px;
}
.search input{
    width: 60%;
}
}

@media only screen and (min-width: 600px) and (max-width: 1023px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    
    .pricing-table-inner ul {
        padding: 30px 10px 25px;
    }

    .pricing-table-inner ul li.title-p h4 {
        font-size: 16px;
    }

    .pricing-table-inner .btn,
    .blog-post-info .btn {
        font-size: 12px;
        padding: 10px 20px !important;
    }

    .pricing-table-inner ul li.table-content ul li,
    .blog-post-info h3 {
        font-size: 14px;
    }

}
@media only screen and (min-width: 1920px){
.text-carousel p{
    font-size: 24px;
    line-height: 48px;
}
}
#showmenumobileback, 
#showmenumobilewrap {display: none;}
/* RESPONSIVE KHUSUS MENU SIDEBAR */
@media screen and (max-width: 782px) {
    .page-content {
        width: calc(100% - 0px);
        position: relative;
    }

    .icnburgermenu .sidebar-toggler {
        margin-left: 0;
    }

    /* SIDEBAR NON MOBILE */
    #sidebar {display: none;}
    /* END SIDEBAR NON MOBILE */

    .page-content.open-menu {
        right: -16em;
    }
    #showmenumobileback {
        top: 0;
        bottom: -120px;
    }

    #showmenumobileback, 
    #showmenumobilewrap {display: block;}
    #showmenumobileback,
    #showmenumobilewrap,
    #showmenumobile {
        position: absolute;
        width: 220px;
        z-index: 100;
        background-color: #3b60ae;
    }
    #showmenumobile {
        clear: left;
        margin: 12px 0;
        padding: 0;
        list-style: none;
    }
    #showmenumobile li.menu-top {
        border: none;
        min-height: 34px;
        position: relative;
    }
    #showmenumobile li {
        margin: 0;
        padding: 0;
        cursor: pointer;
    }
    #showmenumobile li.menu-top {
        width: 100%;
    }
    #showmenumobile a.menu-top-first {
        height: 34px;
    }
    #showmenumobile a.menu-top-first {
        font-weight: 400;
        line-height: 18px;
    }
    #showmenumobile li a {
        font-size: 16px;
        padding: 5px;
    }
    #showmenumobile a {
        display: block;
        text-decoration: none;
    }
    #showmenumobile a.menu-top-first {
        position: relative;
        /* background-color: #3b60ae; */
        color: #fff;
    }
    #showmenumobile li.menu-top.active {
        background-color: #3658a0;
    }

    #showmenumobile div.menu-image {
        height: 30px;
        width: 34px;
        position: absolute;
        z-index: 25;
    }
    #showmenumobile div.menu-image .icn-mymenu {
        display: inline-block;
        width: 20px;
        height: 20px;
        font-size: 20px;
        line-height: 1;
    }
    #showmenumobile .menu-nama {
        position: static;
        margin-left: 35px;
    }
    #showmenumobile .menu-nama {
        padding: 8px 0;
    }

    ul#showmenumobile>li.active:after {
        right: 0;
        border: solid 8px transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-right-color: #f1f1f1;
        top: 50%;
        margin-top: -8px;
    }
}
@media screen and (max-width: 600px) {
    #showmenumobilewrap {
        top: 85px;
    }
}
@media screen and (max-width: 960px) {

}
/* END RESPONSIVE KHUSUS MENU SIDEBAR */


@media screen and (max-width: 480px) {
    .hiddenMobile {
        display: none;
        visibility: hidden;
    }
}

/* UCUP */